In [1]:
import pandas as pd

In [2]:
df_2023=pd.read_csv("/Users/clemence/IRONHACK/Final_project/Main data set clean/df2023_clean.csv")

/var/folders/54/4cl_lcsx2v3_cd3ntyrh62340000gn/T/ipykernel_53470/2004099251.py:1: DtypeWarning: Columns (9,10,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2023=pd.read_csv("/Users/clemence/IRONHACK/Final_project/Main data set clean/df2023_clean.csv")

In [3]:
data_cities=pd.read_csv("/Users/clemence/IRONHACK/Final_project/Autres datasets/Communes/data_cities.csv")

In [4]:
df_cities=pd.merge(df_2023,data_cities,left_on=df_2023["journey_start_insee"],right_on=data_cities["id_city"])

In [5]:
df_reg=pd.read_csv("/Users/clemence/IRONHACK/Final_project/Autres datasets/Communes/region.csv")

In [6]:
df_reg

    Unnamed: 0  id_reg                 region_name
0            0       1                  Guadeloupe
1            1       2                  Martinique
2            2       3                      Guyane
3            3       4                  La Réunion
4            4       6                     Mayotte
5            5      11               Île-de-France
6            6      24         Centre-Val de Loire
7            7      27     Bourgogne-Franche-Comté
8            8      28                   Normandie
9            9      32             Hauts-de-France
10          10      44                   Grand Est
11          11      52            Pays de la Loire
12          12      53                    Bretagne
13          13      75          Nouvelle-Aquitaine
14          14      76                   Occitanie
15          15      84        Auvergne-Rhône-Alpes
16          16      93  Provence-Alpes-Côte d'Azur
17          17      94                       Corse

In [7]:
df_cities_reg=pd.merge(df_cities,df_reg,left_on=df_cities["id_reg"],right_on=["id_reg"])

In [8]:
df_cities_reg

,id_reg,key_0,Unnamed: 0.1,Unnamed: 0_x,journey_id,trip_id,journey_start_datetime,journey_start_date,journey_start_time,journey_start_lon,...,city_name,dens_pop,density_degree,density_type,total_pop_2019,no_commute_pop,work_commute_perc,Unnamed: 0_y,id_reg_y,region_name
0,28,76550,8239573,8753126,11741115,aaa92df6-f0b9-453c-b870-3d952fdb3580,2023-01-13T18:50:00+01:00,2023-01-13,18:50:00,0.936,...,Sahurs,107.30,5,Bourgs ruraux,1205,53.2259,95.5829,8,28,Normandie
1,28,76550,8241955,8755581,11743672,ba86abb4-95c1-461a-b42b-bb364c8daf74,2023-01-13T21:30:00+01:00,2023-01-13,21:30:00,0.935,...,Sahurs,107.30,5,Bourgs ruraux,1205,53.2259,95.5829,8,28,Normandie
2,28,76550,8247756,8761509,11760774,efd5d095-f0bd-4c0a-a4ce-c39d0e5806cd,2023-01-14T13:50:00+01:00,2023-01-14,13:50:00,0.943,...,Sahurs,107.30,5,Bourgs ruraux,1205,53.2259,95.5829,8,28,Normandie
3,28,76550,8276405,8791066,11806462,c78ab4b3-8852-4b91-a510-228e6f779338,2023-01-16T08:40:00+01:00,2023-01-16,08:40:00,0.934,...,Sahurs,107.30,5,Bourgs ruraux,1205,53.2259,95.5829,8,28,Normandie
4,28,76550,8279623,8794370,11806099,08552a80-25bc-4158-bfbb-eabf148520b2,2023-01-16T13:10:00+01:00,2023-01-16,13:10:00,0.942,...,Sahurs,107.30,5,Bourgs ruraux,1205,53.2259,95.5829,8,28,Normandie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447145,94,2B207,8391041,8912445,11907577,a1c298d4-3fe8-49ac-a7f8-faf32bff4950,2023-01-20T06:50:00+01:00,2023-01-20,06:50:00,9.517,...,Penta-di-Casinca,181.87,5,Bourgs ruraux,3370,553.0910,83.5878,17,94,Corse
447146,94,2B207,8441538,8965040,11986491,077cce02-2960-4953-94e6-cc8b3fac6f86,2023-01-23T06:40:00+01:00,2023-01-23,06:40:00,9.499,...,Penta-di-Casinca,181.87,5,Bourgs ruraux,3370,553.0910,83.5878,17,94,Corse
447147,94,2B207,8510553,9038342,12050736,3ff475b4-9dc5-49ac-b02e-9f260e05ae2c,2023-01-25T06:50:00+01:00,2023-01-25,06:50:00,9.499,...,Penta-di-Casinca,181.87,5,Bourgs ruraux,3370,553.0910,83.5878,17,94,Corse
447148,94,2B207,8542759,9072633,12078931,a59badc1-0659-41fc-8020-c289cb56dd5f,2023-01-26T06:50:00+01:00,2023-01-26,06:50:00,9.518,...,Penta-di-Casinca,181.87,5,Bourgs ruraux,3370,553.0910,83.5878,17,94,Corse
447149,94,2B207,8630844,9164871,12191029,2a5d304b-5ad7-4bc1-a9ec-815c9f84940a,2023-01-30T06:50:00+01:00,2023-01-30,06:50:00,9.518,...,Penta-di-Casinca,181.87,5,Bourgs ruraux,3370,553.0910,83.5878,17,94,Corse

In [13]:
rank_reg_2023 = pd.DataFrame(df_cities_reg.groupby("region_name")["journey_id"].count())
rank_reg_2023

                            journey_id
region_name
Auvergne-Rhône-Alpes             25096
Bourgogne-Franche-Comté           3136
Bretagne                         14807
Centre-Val de Loire               6140
Corse                               41
Grand Est                        23779
Guadeloupe                          85
Hauts-de-France                  34854
La Réunion                        7183
Normandie                        73318
Nouvelle-Aquitaine               16843
Occitanie                        39111
Pays de la Loire                 62339
Provence-Alpes-Côte d'Azur       15644
Île-de-France                   124774

In [14]:
rank_reg_2023.sort_values(by="journey_id",ascending=False)

                            journey_id
region_name
Île-de-France                   124774
Normandie                        73318
Pays de la Loire                 62339
Occitanie                        39111
Hauts-de-France                  34854
Auvergne-Rhône-Alpes             25096
Grand Est                        23779
Nouvelle-Aquitaine               16843
Provence-Alpes-Côte d'Azur       15644
Bretagne                         14807
La Réunion                        7183
Centre-Val de Loire               6140
Bourgogne-Franche-Comté           3136
Guadeloupe                          85
Corse                               41

In [15]:
df_cities_reg.to_csv("/Users/clemence/IRONHACK/Final_project/Autres datasets/2023_cities_reg.csv")

In [16]:
global_df=pd.read_csv("/Users/clemence/IRONHACK/Final_project/Main data set clean/global_df_clean.csv")

/var/folders/54/4cl_lcsx2v3_cd3ntyrh62340000gn/T/ipykernel_53470/2248467420.py:1: DtypeWarning: Columns (8,9,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  global_df=pd.read_csv("/Users/clemence/IRONHACK/Final_project/Main data set clean/global_df_clean.csv")

In [17]:
global_cities=pd.merge(global_df,data_cities,left_on=global_df["journey_start_insee"],right_on=data_cities["id_city"])

In [19]:
global_cities_reg=pd.merge(global_cities,df_reg,left_on=global_cities["id_reg"],right_on=["id_reg"])

In [25]:
global_cities_reg.columns

Index(['id_reg', 'key_0', 'Unnamed: 0_x', 'journey_id', 'trip_id',
       'journey_start_datetime', 'journey_start_date', 'journey_start_time',
       'journey_start_lon', 'journey_start_lat', 'journey_start_insee',
       'journey_start_department', 'journey_start_towngroup',
       'journey_end_datetime', 'journey_end_date', 'journey_end_time',
       'journey_end_lon', 'journey_end_lat', 'journey_end_insee',
       'journey_end_department', 'journey_end_towngroup', 'journey_distance',
       'journey_duration', 'has_incentive', 'nb_passengers', 'year', 'id_city',
       'id_reg_x', 'id_dep', 'city_name', 'dens_pop', 'density_degree',
       'density_type', 'total_pop_2019', 'no_commute_pop', 'work_commute_perc',
       'Unnamed: 0_y', 'id_reg_y', 'region_name'],
      dtype='object')

In [33]:
global_normandie=global_cities[global_cities_reg["id_dep"].isin(["14","27","50","61","76"])]

In [36]:
global_normandie=global_normandie[global_normandie["id_dep"].isin(["14","27","50","61","76"])]

In [37]:
global_normandie.shape

(16101, 35)

In [38]:
global_normandie["journey_start_department"].value_counts()

76      5917
76.0    4409
27.0    1224
27      1033
76.0    1009
14.0     486
50.0     473
61.0     422
50       320
61       231
14       218
27.0     205
14.0      61
50.0      51
61.0      42
Name: journey_start_department, dtype: int64

In [41]:
global_normandie["journey_start_department"]=global_normandie["journey_start_department"].astype(float)

In [42]:
global_normandie["journey_start_department"]=global_normandie["journey_start_department"].astype(int)

In [43]:
global_normandie["journey_start_department"].value_counts()

76    11335
27     2462
50      844
14      765
61      695
Name: journey_start_department, dtype: int64

In [54]:
import unicodedata
global_normandie['journey_start_towngroup']=global_normandie['journey_start_towngroup'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

In [60]:
global_normandie['journey_start_towngroup']=global_normandie['journey_start_towngroup'].str.lstrip()

In [61]:
global_normandie['journey_start_towngroup']=global_normandie['journey_start_towngroup'].str.rstrip()

In [51]:
global_normandie['journey_start_towngroup'].astype(str)

1313611    CC Coutances Mer et Bocage
1313612    CC Coutances Mer et Bocage
1313613    CC Coutances Mer et Bocage
1313614    CC Coutances Mer et Bocage
1313615    CC Coutances Mer et Bocage
                      ...
1478440                 CA Seine-Eure
1478441                 CA Seine-Eure
1478442                 CA Seine-Eure
1478443                 CA Seine-Eure
1478444                 CA Seine-Eure
Name: journey_start_towngroup, Length: 16101, dtype: object

In [62]:
global_normandie.to_csv("/Users/clemence/IRONHACK/Final_project/Autres datasets/global_normandie.csv")

In [63]:
from sqlalchemy import create_engine
import pymysql.cursors 
import os
import getpass
pw = getpass.getpass()

········

In [64]:
connection_string = 'mysql+pymysql://root:' + pw + '@localhost:3306/' 
engine = create_engine(connection_string)

In [65]:
global_normandie.to_sql('gloabl_normandie', engine, 'normandie', if_exists='replace', index = False)

16101