In [1]:
import pandas as pd

## Density 2019 file

In [2]:
density_insee=pd.read_excel("/Users/clemence/IRONHACK/Final Project/Autres datasets/Communes/insee_rp_hist_1968.xlsx")

In [3]:
density_insee.head()

,Observatoire des territoires - ANCT,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Insee - RP - données historiques depuis 1968 (...,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Densité de population
3,codgeo,libgeo,an,dens_pop
4,01001,L'Abergement-Clémenciat,1968,21.76

In [4]:
density_insee.columns=list(density_insee.iloc[3])

In [5]:
density_insee.head()

,codgeo,libgeo,an,dens_pop
0,Insee - RP - données historiques depuis 1968 (...,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Densité de population
3,codgeo,libgeo,an,dens_pop
4,01001,L'Abergement-Clémenciat,1968,21.76

In [7]:
density_insee.drop(index=[0,1,2,3],axis=0,inplace=True)

In [8]:
density_insee.head()

  codgeo                   libgeo    an dens_pop
4  01001  L'Abergement-Clémenciat  1968    21.76
5  01001  L'Abergement-Clémenciat  1975    23.07
6  01001  L'Abergement-Clémenciat  1982    29.91
7  01001  L'Abergement-Clémenciat  1990     36.3
8  01001  L'Abergement-Clémenciat  1999    45.64

In [11]:
density_2019=density_insee[density_insee["an"]=="2019"]

In [12]:
density_2019.head()

   codgeo                   libgeo    an dens_pop
11  01001  L'Abergement-Clémenciat  2019    48.84
19  01002    L'Abergement-de-Varey  2019    27.98
27  01004        Ambérieu-en-Bugey  2019   574.55
35  01005      Ambérieux-en-Dombes  2019   109.99
43  01006                  Ambléon  2019    19.05

In [14]:
density_2019.drop("an",axis=1,inplace=True)

/var/folders/54/4cl_lcsx2v3_cd3ntyrh62340000gn/T/ipykernel_87638/2558341933.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  density_2019.drop("an",axis=1,inplace=True)

In [97]:
density_2019.head()

   codgeo                   libgeo dens_pop
11  01001  L'Abergement-Clémenciat    48.84
19  01002    L'Abergement-de-Varey    27.98
27  01004        Ambérieu-en-Bugey   574.55
35  01005      Ambérieux-en-Dombes   109.99
43  01006                  Ambléon    19.05

In [125]:
density_2019.rename(columns={"codgeo":"id_city","libgeo":"city_name"},inplace=True)

/var/folders/54/4cl_lcsx2v3_cd3ntyrh62340000gn/T/ipykernel_87638/1419963793.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  density_2019.rename(columns={"codgeo":"id_city","libgeo":"city_name"},inplace=True)

In [126]:
density_2019.to_csv("/Users/clemence/IRONHACK/Final Project/Autres datasets/Communes/density.csv")

In [112]:
! pip install pymysql
from sqlalchemy import create_engine
import pymysql.cursors 
import os
import getpass

Requirement already satisfied: pymysql in /Users/clemence/opt/anaconda3/lib/python3.9/site-packages (1.0.2)

In [122]:
pw = getpass.getpass()

········

In [123]:
connection_string = 'mysql+pymysql://root:' + pw + '@localhost:3306/' 
engine = create_engine(connection_string)

In [124]:
with engine.connect() as conn:
    conn.execute(f"CREATE DATABASE IF NOT EXISTS Final_Project")

In [127]:
density_2019.to_sql('density', engine, 'Final_Project', if_exists='replace', index = True)

34955

## Link code communes et code régions

In [22]:
codegeo_df=pd.read_csv("/Users/clemence/IRONHACK/Final Project/Autres datasets/Communes/commune_2022.csv")

In [23]:
codegeo_df.head()

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84.0,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN
1,COM,01002,84.0,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN
2,COM,01004,84.0,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN
3,COM,01005,84.0,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,NaN
4,COM,01006,84.0,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,NaN

In [25]:
codegeo_df["TYPECOM"].value_counts()

COM     34955
COMD     2093
COMA      508
ARM        45
Name: TYPECOM, dtype: int64

In [26]:
codegeo_df=codegeo_df[codegeo_df["TYPECOM"]=="COM"]

In [27]:
codegeo_df["TYPECOM"].value_counts()

COM    34955
Name: TYPECOM, dtype: int64

In [28]:
codegeo_df.drop(["TYPECOM"],axis=1,inplace=True)

In [29]:
codegeo_df.head()

,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,01001,84.0,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN
1,01002,84.0,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN
2,01004,84.0,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN
3,01005,84.0,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,NaN
4,01006,84.0,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,NaN

In [30]:
codegeo_df.drop(["NCC","NCCENR","CAN","COMPARENT"],axis=1,inplace=True)

In [31]:
codegeo_df.head()

     COM   REG DEP CTCD  ARR  TNCC                  LIBELLE
0  01001  84.0  01  01D  012     5  L'Abergement-Clémenciat
1  01002  84.0  01  01D  011     5    L'Abergement-de-Varey
2  01004  84.0  01  01D  011     1        Ambérieu-en-Bugey
3  01005  84.0  01  01D  012     1      Ambérieux-en-Dombes
4  01006  84.0  01  01D  011     1                  Ambléon

In [32]:
codegeo_df.drop(["ARR","TNCC"],axis=1,inplace=True)

In [33]:
codegeo_df.head()

     COM   REG DEP CTCD                  LIBELLE
0  01001  84.0  01  01D  L'Abergement-Clémenciat
1  01002  84.0  01  01D    L'Abergement-de-Varey
2  01004  84.0  01  01D        Ambérieu-en-Bugey
3  01005  84.0  01  01D      Ambérieux-en-Dombes
4  01006  84.0  01  01D                  Ambléon

In [35]:
codegeo_df.dtypes

COM         object
REG        float64
DEP         object
CTCD        object
LIBELLE     object
dtype: object

In [37]:
codegeo_df["REG"]=codegeo_df["REG"].astype(int)

In [38]:
codegeo_df.dtypes

COM        object
REG         int64
DEP        object
CTCD       object
LIBELLE    object
dtype: object

In [81]:
codegeo_df.rename(columns={"COM":"id_insee","REG":"id_reg","DEP":"id_dep","LIBELLE":"NAME"},inplace=True)

In [76]:
codegeo_df.drop(["CTCD"],axis=1,inplace=True)

In [83]:
codegeo_df.rename(columns={"NAME":"city_name"},inplace=True)

In [99]:
codegeo_df.rename(columns={"id_insee":"id_city"},inplace=True)

In [100]:
codegeo_df.head()

  id_city  id_reg id_dep                city_name
0   01001      84     01  L'Abergement-Clémenciat
1   01002      84     01    L'Abergement-de-Varey
2   01004      84     01        Ambérieu-en-Bugey
3   01005      84     01      Ambérieux-en-Dombes
4   01006      84     01                  Ambléon

In [101]:
codegeo_df.to_csv("/Users/clemence/IRONHACK/Final Project/Autres datasets/Communes/codecomm_reg.csv")

In [128]:
codegeo_df.to_sql('code_territories', engine, 'Final_Project', if_exists='replace', index = True)

34955

## Regions file

In [43]:
region_df=pd.read_csv("/Users/clemence/IRONHACK/Final Project/Autres datasets/Communes/region_2022.csv")

In [45]:
region_df.head()

   REG CHEFLIEU  TNCC         NCC      NCCENR     LIBELLE
0    1    97105     3  GUADELOUPE  Guadeloupe  Guadeloupe
1    2    97209     3  MARTINIQUE  Martinique  Martinique
2    3    97302     3      GUYANE      Guyane      Guyane
3    4    97411     0  LA REUNION  La Réunion  La Réunion
4    6    97608     0     MAYOTTE     Mayotte     Mayotte

In [46]:
region_df.drop(["CHEFLIEU","TNCC","NCC","NCCENR"],axis=1,inplace=True)

In [86]:
region_df

    id_reg                 region_name
0        1                  Guadeloupe
1        2                  Martinique
2        3                      Guyane
3        4                  La Réunion
4        6                     Mayotte
5       11               Île-de-France
6       24         Centre-Val de Loire
7       27     Bourgogne-Franche-Comté
8       28                   Normandie
9       32             Hauts-de-France
10      44                   Grand Est
11      52            Pays de la Loire
12      53                    Bretagne
13      75          Nouvelle-Aquitaine
14      76                   Occitanie
15      84        Auvergne-Rhône-Alpes
16      93  Provence-Alpes-Côte d'Azur
17      94                       Corse

In [85]:
region_df.rename(columns={"REG":"id_reg","NAME": "region_name"},inplace=True)

In [87]:
region_df.to_csv("/Users/clemence/IRONHACK/Final Project/Autres datasets/Communes/region.csv")

In [162]:
region_df.to_sql('region', engine, 'Final_Project', if_exists='replace', index = False)

18

## Density type file

In [49]:
density_label=pd.read_excel("/Users/clemence/IRONHACK/Final Project/Autres datasets/Communes/grille_densite_7_niveaux_detaille_2022.xlsx")

In [92]:
density_label.rename(columns={"Code commune":"id_city","Libellé commune": "city_name","Typo degré densité":"density_degree","Libellé degré densité":"density_type","Population \nmunicipale \n2019":"Total_pop_2019"},inplace=True)

In [94]:
density_label.rename(columns={"Total_pop_2019":"total_pop_2019"},inplace=True)

In [95]:
density_label.head()

,id_city,city_name,density_degree,density_type,total_pop_2019
0,01001,L'Abergement-Clémenciat,6,Rural à habitat dispersé,779
1,01002,L'Abergement-de-Varey,6,Rural à habitat dispersé,256
2,01004,Ambérieu-en-Bugey,2,Centres urbains intermédiaires,14134
3,01005,Ambérieux-en-Dombes,5,Bourgs ruraux,1751
4,01006,Ambléon,6,Rural à habitat dispersé,112

In [111]:
density_label.to_csv("/Users/clemence/IRONHACK/Final Project/Autres datasets/Communes/density_label.csv")

In [130]:
density_label.to_sql('density_labels', engine, 'Final_Project', if_exists='replace', index = True)

34955

In [137]:
density_label["id_city"].duplicated().sum()

0

## Home work commute

In [143]:
work_commute=pd.read_csv("/Users/clemence/IRONHACK/Final Project/Autres datasets/Communes/base-flux-mobilite-domicile-lieu-travail-2019.csv",sep=";")

/var/folders/54/4cl_lcsx2v3_cd3ntyrh62340000gn/T/ipykernel_87638/599972091.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  work_commute=pd.read_csv("/Users/clemence/IRONHACK/Final Project/Autres datasets/Communes/base-flux-mobilite-domicile-lieu-travail-2019.csv",sep=";")

In [144]:
work_commute.head(20)

,CODGEO,LIBGEO,DCLT,L_DCLT,NBFLUX_C19_ACTOCC15P
0,1001,L'Abergement-Clémenciat,01001,L'Abergement-Clémenciat,77.008649
1,1001,L'Abergement-Clémenciat,01053,Bourg-en-Bresse,35.518950
2,1001,L'Abergement-Clémenciat,01093,Châtillon-sur-Chalaronne,55.487306
3,1001,L'Abergement-Clémenciat,01159,Feillens,4.954723
4,1001,L'Abergement-Clémenciat,01165,Francheleins,4.820431
5,1001,L'Abergement-Clémenciat,01194,Jassans-Riottier,5.234635
6,1001,L'Abergement-Clémenciat,01263,Montmerle-sur-Saône,4.954723
7,1001,L'Abergement-Clémenciat,01322,Reyrieux,4.954723
8,1001,L'Abergement-Clémenciat,01400,Seillonnaz,4.954723
9,1001,L'Abergement-Clémenciat,01420,Thoissey,4.954723
10,1001,L'Abergement-Clémenciat,01427,Trévoux,15.289700
11,1001,L'Abergement-Clémenciat,01443,Villars-les-Dombes,9.640862
12,1001,L'Abergement-Clémenciat,01451,Viriat,15.144080
13,1001,L'Abergement-Clémenciat,04209,Sisteron,5.380466
14,1001,L'Abergement-Clémenciat,35207,Noyal-sur-Vilaine,5.380466
15,1001,L'Abergement-Clémenciat,38455,Saint-Savin,5.234635
16,1001,L'Abergement-Clémenciat,69005,Ambérieux,5.092756
17,1001,L'Abergement-Clémenciat,69034,Caluire-et-Cuire,4.954723
18,1001,L'Abergement-Clémenciat,69043,Chaponost,5.234635
19,1001,L'Abergement-Clémenciat,69063,Collonges-au-Mont-d'Or,5.092756

In [145]:
work_commute.dtypes

CODGEO                   object
LIBGEO                   object
DCLT                     object
L_DCLT                   object
NBFLUX_C19_ACTOCC15P    float64
dtype: object

In [146]:
#I keep only the lines with people working in the same city as they live (I'll calculate percentage of people working outside their city after)
work_commute=work_commute[work_commute["LIBGEO"]==work_commute["L_DCLT"]]

In [147]:
work_commute.head(10)

,CODGEO,LIBGEO,DCLT,L_DCLT,NBFLUX_C19_ACTOCC15P
0,1001,L'Abergement-Clémenciat,01001,L'Abergement-Clémenciat,77.008649
33,1002,L'Abergement-de-Varey,01002,L'Abergement-de-Varey,10.402373
50,1004,Ambérieu-en-Bugey,01004,Ambérieu-en-Bugey,2420.133858
243,1005,Ambérieux-en-Dombes,01005,Ambérieux-en-Dombes,152.303591
320,1007,Ambronay,01007,Ambronay,180.000000
398,1008,Ambutrix,01008,Ambutrix,30.483013
425,1009,Andert-et-Condon,01009,Andert-et-Condon,5.202547
438,1010,Anglefort,01010,Anglefort,108.778676
469,1011,Apremont,01011,Apremont,19.384836
482,1012,Aranc,01012,Aranc,30.236787

In [148]:
work_commute.drop(["CODGEO","L_DCLT"],axis=1,inplace=True)

In [149]:
work_commute.rename(columns={"LIBGEO":"city_name","DCLT":"id_city","NBFLUX_C19_ACTOCC15P": "no_commute_pop"},inplace=True)

In [150]:
work_commute

                      city_name id_city  no_commute_pop
0       L'Abergement-Clémenciat   01001       77.008649
33        L'Abergement-de-Varey   01002       10.402373
50            Ambérieu-en-Bugey   01004     2420.133858
243         Ambérieux-en-Dombes   01005      152.303591
320                    Ambronay   01007      180.000000
...                         ...     ...             ...
963797           Sainte-Suzanne   97420     2577.266615
963814                  Salazie   97421     1075.000000
963865                Le Tampon   97422    13497.847437
963887        Les Trois-Bassins   97423      791.661137
963898                   Cilaos   97424     1197.961497

[33147 rows x 3 columns]

In [155]:
work_commute.duplicated().sum()

0

In [158]:
work_commute=work_commute[work_commute["id_city"].duplicated()==False]

In [159]:
work_commute.shape

(33128, 3)

In [160]:
work_commute.to_csv("/Users/clemence/IRONHACK/Final Project/Autres datasets/Communes/no_commute_pop.csv")

In [161]:
work_commute.to_sql('work_commute', engine, 'Final_Project', if_exists='replace', index = True)

33128